body{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cards{
    display: flex;
    width: 100%;
    padding: 30px;  
}

.cards .card{
    background: rgb(0, 144, 255);
    color: white;
    width: 280px;
    height: 350px;
    border-radius: 10px;
    align-items: self-end;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;

    transition: all 0.3s ease;
}
.cards .card a{
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}